.header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 163px;
    color: white;
    background-color: #221d1e;
    .title{
        font-size: 32px;
        font-weight: 700;
    }
    .sub-title{
        margin-top: 9px;
        font-size: 20px;
        font-weight: 400;
    }
}