
h1 {
    font-size: 32px;
    font-weight: 500;
}

.container {
    padding: 20px 15px 0 15px;
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
}

.header-container {
    padding-top: 30px;
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
}

.description {
    margin-top: 10px;
    font-size: 17px;
}
