select{
    line-height: 35px;
    min-height: 38px;
    border: 1px solid #dcdcdc;
    font-size: 16px;
    padding-left: 5px;
    color: #757575;
    border-radius: 4px;
    min-width: 128px;
    -moz-appearance:none;
    -webkit-appearance:none;
    appearance:none;
    background-color: transparent;
    cursor: pointer;
    font-family: 'Domine', serif;
}
select:focus{
    outline: none;
}
i{
    position: relative;
    z-index: -1;
    margin-left: -30px;
    font-size: 13px;
    font-weight: 900;
}