@import '../mixins/breakpoints';

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 320px;
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    margin-bottom: 8px;

    @include lg {
      min-width: 312px;
    }

    &:hover {
      cursor: pointer;
      box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    }
  }

  .card-no-hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    height: 320px;
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    margin-bottom: 8px;

    .card-box {
      span {
      margin-bottom: 8px;
      }
    }

  }

  .title-box {
    padding: 20px 20px;

    .title {
      font-size: 34px;
      font-weight: 500;
    }

  }
  .card-box {
    padding: 20px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    font-weight: 300;
    color: #4a4a4a;
    flex-grow: 1;
  }

  .card-footer {
    border-top: 1px solid #ededed;
    padding: 8px 20px;
  }
