.flag {
  border: none;
  color: white;
  padding: 0.6em 0.8em;
  text-align: center;
  text-decoration: none;
  border-radius: 0.4em;
  display: inline-block;
  font-size: 0.6em;

  &.green {background-color: #00d1b2;}
  &.blue {background-color: #3273dc;}
  &.red {background-color: #f44336; color: white;}
  &.yellow {background-color: #ffdd57; color: black;}
  &.light-green {background-color: #44ff00; color: black;}
  &.pink {background-color: #ee00ff; color: white;}
  &.cian {background-color: #00fbff; color: black;}
  &.dark {background-color: #323232;}
  &.gray {background-color: #555555;}

}
