<div class="breweries-list-container">
    <lnx-header></lnx-header>
    <div class="main-content">
        <div class="content-size d-flex flex-column">
            <lnx-filter></lnx-filter>
            <div class="card-container">
                <lnx-card *ngFor="let brewerie of paginatedBreweries[state?.page]" [data]="brewerie"
                    (click)="navigateToDetails(brewerie)"></lnx-card>
            </div>
            <lnx-paginator></lnx-paginator>
        </div>
    </div>
    <lnx-footer></lnx-footer>
</div>