.card{
    display: flex;
    flex-direction: column;
    min-width: 316px;
    min-height: 316px;
    padding: 0;
    border: 1px solid #ededed;
    border-radius: 10px;
    margin-bottom: 13px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.23);
    -webkit-box-shadow:0 5px 8px 0 rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.23);
    cursor: pointer;
    .card-header{
        padding: 20px 20px 12px 20px;
        font-size: 32px;
        font-weight: 600;
        line-height: 37px;
        color: #363636;
    }
    .card-body{
        font-size: 16px;
        color:#6e6e6e;
        font-weight: 600;
        padding-top: 20px;
        p{
            margin-bottom: 0;
            a{
                color: #387dec;
            }
        }
    }
    .card-header, .card-footer{
        background-color: white;
        border-bottom: 0;
    }
    .card-body, .card-footer{
        padding-left: 20px;
        padding-right: 20px;
        line-height: 24px;
        p{
            margin-top: 0;
        }
    }
    .card-footer{
        border-top: 2px solid #ededed;
        padding-top: 7px;
        padding-bottom: 7px;
        margin-top: auto;
        .type{
            font-size: 12px;
            border-radius: 5px;
            color: white;
            width: fit-content;
            padding: 1px 10px;
        }
    }  
}
.card.big{
    padding-bottom: 20px;
    cursor: default;
    .card-header{
        padding: 35px 20px 0 20px;
        font-size: 48px;
        font-weight: 400;
        color: #4a4a4a;
        line-height: 53px;
    }
}