
//@import '~bootstrap/scss/bootstrap';
//@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&display=swap');

body{
    margin: 0;
    font-family: 'Domine', serif;
}

.content-size{
    max-width: 1320px;
    width: 1320px;
}
.main-content{
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 333px);
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

lnx-card{
    margin-bottom: 13px;
}

button.btn:focus{
    box-shadow: none;
}

@media screen and (max-width: 1450px) {
    .content-size{
        width: 992px;
    }
}
@media screen and (max-width: 1120px) {
    .content-size{
        width: 660px;
    }
}
@media screen and (max-width: 790px) {
    .content-size{
        width: 314px;
    }
}
@media screen and (max-width: 430px) {
    .header-container{
        padding: 0 50px;
        min-width: 314px;
    }
}
@media screen and (max-width: 400px) {

}


