
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&display=swap');

body{
    margin: 0;
    font-family: 'Domine', serif;
}

.main-padding{
    padding-left: 160px;
    padding-right: 160px;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

lnx-card{
    cursor: pointer;
    margin-bottom: 13px;
}

button.btn:focus{
    box-shadow: none;
}

